<template>
  <div>
    <p>{{ status ? 'on' : 'off' }}</p>
    <button @click="toggle" type="button">toggle</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      status: false
    }
  },
  methods: {
    toggle() {
      // eslint-disable-next-line no-console
      console.log('click')
      this.status = !this.status
    }
  }
}
</script>
